[Desktop Entry]
Type=Application
Version=1.0
Name=VMS Empire
GenericName=Empire
Comment=Simulation of a full-scale war between two emperors
Comment[de]=Simulation eines ausgewachsenen Krieges zwischen zwei Herrschern
Icon=empire
Exec=empire
Categories=Game;ArcadeGame;
Keywords=strategy;text;ncurses;arcade;terminal;console;game;war;4X;
Terminal=true
